html {
    scroll-behavior: smooth;
}

.nav-link.active {
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

}

.nav-link {
    color:black;
    transition: all ease-in-out 0.5s;
}

.nav-link:hover {
    transition: all ease-in-out 0.5s;
    color:#ca421f;
    transform:scale(1.1);
}

.header {
    background-image: url('/img/construction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tophead h1,.tophead p {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.tophead .btn {
    background-color: #292828;
    color:#cecece;
    transition:all ease-in-out 0.5s;
}


.tophead .btn:hover {
    transform:scale(1.1);
    transition:all ease-in-out 0.5s;
}

.presentation h2 {
    font-weight: 400;
    margin-top: 5rem;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -.05rem;
}


.presentation p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;

}

.galerie img {
    transition:all ease-in-out 0.5s;
}
.galerie img:hover {
    transition:all ease-in-out 0.5s;
    transform: scale(1.1);
}