html {
    scroll-behavior: smooth;
}

.nav-link.active {
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

}

.nav-link {
    color:black;
    transition: all ease-in-out 0.5s;
}

.nav-link:hover {
    transition: all ease-in-out 0.5s;
    color:#ca421f;
    transform:scale(1.1);
}

.header {
    background-image: url('/img/construction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.tophead h1,.tophead p {
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.tophead .btn {
    background-color: #292828;
    color:#cecece;
    transition:all ease-in-out 0.5s;
}


.tophead .btn:hover {
    transform:scale(1.1);
    transition:all ease-in-out 0.5s;
}

.presentation h2 {
    font-weight: 400;
    margin-top: 5rem;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -.05rem;
}


.presentation p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;

}

.galerie img {
    transition:all ease-in-out 0.5s;
}
.galerie img:hover {
    transition:all ease-in-out 0.5s;
    transform: scale(1.1);
    cursor:pointer;
}

.bmap {
    border-right:1px solid lightgrey;
}

.text-custom,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li.active a,
.service-box .services-icon,
.price-features p i,
.faq-icon,
.social .social-icon:hover {
    color: #f6576e !important;
}

.bg-custom,
.btn-custom,
.timeline-page .timeline-item .date-label-left::after,
.timeline-page .timeline-item .duration-right::after,.back-to-top:hover {
    background-color: #f6576e;
}

.btn-custom,
.custom-form .form-control:focus,
.social .social-icon:hover,
.registration-input-box:focus {
    border-color: #f6576e;
}

.service-box .services-icon,
.price-features p i {
    background-color: rgba(246, 87, 110, 0.1);
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    border-color: #e45267;
    background-color: #e45267;
}


.price-box {
    padding: 40px 50px;
}

.plan-price h1 span {
    font-size: 16px;
    color: #000;
}

.price-features p i {
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
}